/* Home header desgn */

.home-header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(76, 216, 255, 0.2),
      rgba(30, 108, 217, 0.3)
    ),
    url("https://images.unsplash.com/photo-1619898383579-fb0a52a93947?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGhpbmR1aXNtfGVufDB8fDB8fHww");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.home-brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.home-brand-box span {
  font-size: 2rem;
  color: #000000;
  font-weight: 700;
}

.home-brand {
  font-size: 20px;
}

.home-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.home-heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4px;
  color: antiquewhite;
  margin-bottom: 2rem;
}

.home-heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
}

.home-btn:link,
.home-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.home-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.home-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.home-btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

/* Home header desgn */

/* for home offer design */
.only-text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* Set the container height as needed */
}

.flex-wrapping-and-center {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  align-items: center;
  margin: 12px;
}

.HomeOffer-col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.HomeOffer-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.HomeOffer-front,
.HomeOffer-back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 330px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.HomeOffer-back {
  background: #cedce7;
  color: #000000;
  font-weight: 800;
  font-size: 1rem;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.HomeOffer-front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.HomeOffer-container:hover .HomeOffer-front,
.HomeOffer-container:hover .HomeOffer-back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.HomeOffer-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.HomeOffer-back .HomeOffer-inner a {
  color: black;
}
.HomeOffer-inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.HomeOffer-container .HomeOffer-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.HomeOffer-container .HomeOffer-front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.HomeOffer-container:hover .HomeOffer-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.HomeOffer-container:hover .HomeOffer-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.HomeOffer-front .HomeOffer-inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.HomeOffer-front .HomeOffer-inner p::first-letter {
  text-transform: uppercase;
}

.HomeOffer-front .HomeOffer-inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.HomeOffer-front .HomeOffer-inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .HomeOffer-col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .HomeOffer-col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .HomeOffer-col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/* for home offer design */
